/*general*/
@font-face{
	font-family: 'Raleway', sans-serif;
	font-family: 'Slabo 27px', serif;
}
body{
	font-family: "Raleway";
	font-size: 16px;
	font-weight: 300;
	color:#fff;
	line-height: 30px;
	text-align: center;
	background-color: #989898;
}
strong{
	font-weight: 500;
}
a{
	color: #fff;
	font-weight: bold;
}
a:hover, a:focus{
	text-decoration: none;
	color: #C7C7C7;
}
/*.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	color: #C7C7C7;
}*/
h1, h2, h3{
	font-family: "Slabo 27px";
	margin-top: 10px;
}
ul{
	list-style:none;
}
.mibtn{
	width: 100%;
	border-color: #fff;
	background: #0C0C0C;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	border-style: solid;
	outline: none;
}
.mibtn:hover{
	background: #616A6B;
	border-color: #0c0c0c;
}
.mibtn:active{
	background: #B2BABB;
	color: #0c0c0c;
}
hr{
	width: 100%;
	border: 2px solid #fff;
	border-radius: 300px ;
	height: 0px;
	text-align: center;
}
.micont-nav{
	padding: 5px;
	background: #0c0c0c;
	border: none;
	border-radius: 0px;
	border-bottom: 1px solid #fff;
}
.micont-nav .miConLogo{
	width: 130px;
	padding: 10px;
}
.micont-nav .imgLogo{
	width: 100%;
}
.micont-nav .iconos-derecha{
	margin:0px;
}
.micont-nav .miIcono a.icono-cont{
	padding: 6px;
	font-size: 40px;
}
.micont-nav .miIcono .icono-cont i:hover{
	font-size: 40px;
	color: #fff;
}
.micont-nav button.miIcono{
	font-size: 20px;
}
.micont-nav img.miPerFoto {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
    border-radius: 2px;
    width: 50px;
}
/*//////////////////*/
nav div.cont-opciones{
	display: none;
	text-align: left;
	z-index: 3;
	position: absolute;
	right:  0.1%;
	background: #0c0c0c;
}
header div.cont-opciones ul{
	margin: 0px;
	padding: 0px;
}
header div.cont-opciones li{
	margin: 0px;
	padding: 0px 10px;
}
header div.cont-opciones ul a{
	font-weight: normal;
}
header div.cont-opciones ul a:hover{
	color: #fff;
	font-weight: bold;
}
header div.cont-opciones ul li:hover{
	background: #444;
}
i.i-activo{
	color:#fff;
}
/*////////////////*/
.topfooter-cont{
	background: #222;
	padding: 20px 0;
}
.linkfooter-cont{
	padding: inherit;
}
.img-footerCont img{
	width: 300px;
}
.bottomfooter-cont{
	background: #0C0C0C;
}