.container{
	margin-top: 80px;
}
div.container img{
	min-width: 100%;
	max-width: 100%;
}
div.settings .form-control {
    height: 40px;
    vertical-align: middle;
    background: #fff;
    border: 3px solid #fff;
    font-size: 16px;
    font-weight: 300;
    /*line-height: 50px;*/
}
div.settings .form-control:focus {
    background: #fff;
    border: 3px solid #727272;
}
div.settings textarea{
    min-height: 80px;
    max-width: 100%;
    min-width: 100%;
}
.jfilestyle{
	margin-top: 10px;
}
button.mibtn{
	color: #fff;
}
/*/////////citas Pendientes//////////*/
.contenedor{
	min-height: 700px;
}
/*div.container  div.contenedor:last-child {
	padding-top: 0px;
}*/
.cont-citas .cont-infoCita{
	cursor: default;
	margin: 10px 35px;
	padding: 0px;
	color: #fff;
	background: #222;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}
.cont-citas .mibtn-pagado{
	cursor: default;
	width: 100%;
	border-color: #0c0c0c;
	background :#27AE60;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}
.info-recuerda{
	background: #BDC3C7;
}
strong {
  font-weight: bold;
}
.fondoNegro{
	background: #0c0c0c;
	/*padding: 10px;*/
}
.fondoGris{
	background: #
}
div.container div.contenedor{
	padding-top: 10px;
	background: #CACFD2;
	margin-bottom: 20px;
	color: #0c0c0c;
}
/*///////////pagar citas*/
div.contenedor div.contenedor-pago{
	background: #454545;
	color: #fff;
	padding: 10px;
}
div.contenedor div.contenedor-pago p{
	margin: 0px;
}
div.contenedor div.contenedor-pago .align-middle p{
	position: relative;
	top: 30px;
}
div.contenedor div.contenedor-pago hr{
	border: .5px solid #fff;
	margin: 10px;
 }
 .boton-Pago{
 	margin-top: 42px;
	width: 170px;
	border-color: #fff;
	background :#27AE60;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	outline:0px;
 }
 .boton-Pago:hover{
	background: #1D8348;
	border-color: #222;
 }
 .boton-Pago:active{
	background: #186A3B;
	border-color: #0c0c0c;
 }
 .alinear-boton button{

 }
