.micont-nav{
	padding: 5px;
	background: #222;
	border: none;
	border-radius: 0px;
	border-bottom: 1px solid #fff;
}
.miConLogo{
	width: 130px;
	padding: 10px;
}
.imgLogo{
	width: 100%;
}
.iconos-derecha{
	margin:0px;
}
.miIcono a.icono-cont{
	padding: 6px;
	font-size: 40px;
}
.miIcono .icono-cont i:hover{
	font-size: 40px;
	color: #fff;
}
button.miIcono{
	font-size: 20px;
}
img.miPerFoto {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
    border-radius: 2px;
    width: 50px;
}
.micont-top{
	margin: 70px 0 5px 0;
	/*margin-top: 70px;*/
	padding:10px 10px 5px 10px;
	background:#0C0C0C;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
}
.portada-cont{
	position: relative;
	text-align: center
}
.miportada img{
	width: 100%;
	height: 320px;
}
.miimagen-perfil, .info-portada{
	position: absolute;
}
.miimagen-perfil{
	left: 30px; top: 50px;
	border: 2px solid #fff;
	-webkit-box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.5);
	-moz-box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.5);
	box-shadow: 6px 6px 10px -1px rgba(0,0,0,0.5);
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.miimagen-perfil img{
	width: 200px;
	height: 200px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
    border-radius: 4px;
}
.info-portada{
	top:80px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}
.info-portada hr{
	width: 350px;
	border: 2px solid #fff;
	border-radius: 300px ;
	height: 0px;
	text-align: center;
}
.info-portada h1,.info-portada h2{
	font-size: 50px;
	font-weight: bold;
}
.vdivide [class*='col-']:not(:last-child):after {
  background: #e0e0e0;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  min-height: 70px;
}
.btn-group a:hover{
	color: #fff;
}
.btn-group a:active{
	color: #0C0C0C;
	background: #fff;
	border-color: #222;
}
.contenedor-medias{
	margin-bottom: 20px;
}
.mimedia .thumbnail{
	max-width: 120px;
	min-width: 120px;
	padding: 0px;
	border: 0px;
	margin: 0px;
}
.mimedia{
	margin: 10px 40px;
	background: #0C0C0C;
	-webkit-box-shadow: 6px 8px 17px -1px rgba(0,0,0,0.57);
	-moz-box-shadow: 6px 8px 17px -1px rgba(0,0,0,0.57);
	box-shadow: 6px 8px 17px -1px rgba(0,0,0,0.57);
	height: 180px;
}
.mimedia p{
	min-height: 90px;
	max-height: 90px;
}
.icono-activo{
	color: #FFE400;
}
.contenedor-portafolio>.row{
	background: #0C0C0C;
	margin-bottom: 20px;
}
.contenedor-imagenesPortafolio {
	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
	}
.contenedor-imagenesPortafolio img{
	position: relative;
	width: 100%;
	margin: 7px 0;
	border: 2px solid #fff;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
@media (max-width: 500px) {
	.contenedor-imagenesPortafolio {
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
		-moz-column-count: 1; /* Firefox */
		column-count: 1;
	}

}
.contenedor-portafolio{
	border: solid #0C0C0C;
	/*margin-bottom: 20px;*/
}
.row-portafolio{
	margin-bottom: 20px;
}
.row-portafolio button{
	border-color: #0C0C0C;
	border-radius: 0px;
}
/*////////////*/
.topfooter-cont{
	background: #222;
	padding: 20px 0;
}
.linkfooter-cont{
	padding: inherit;
}
.img-footerCont img{
	width: 300px;
}
.bottomfooter-cont{
	background: #0C0C0C;
}
.mispan img{
	width: 120px;
}
.cont-portada{
	margin: 1px;
	padding: 20% 0;
	min-height: 720px;
	background-image: url(../img/fondo2.jpg);
}

/*////////*/
.portafolio-imagen img{
	transition: .3s;
}
.portafolio-imagen{
	display: inline-block;
	position:relative;
}
.portafolio-imagen:hover img{
	filter: blur(2px) brightness(20%);
}
.portafolio-imagen .hashtag-imagen{
	position: absolute;
	top: 20%;
	z-index: 1;
	color: #fff;
	text-align: center;
	width: 100%;
	opacity: 0;
	transition:.3s;
}
.portafolio-imagen:hover :not(img){
	opacity: 1;

}